<%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>

        <h2>Estos son nuestros <%= products.category  %> </h2>

        <% if (products.length > 0) { %>
            <section>
                <% products.forEach(element => { %> 
                    <article>
                        <a href="/products/<%= element.sku %>">
                            <picture>
                                <%= element.image %>
                            </picture>
                            <div>
                                <h3><%= element.name %></h3>
                                <h3><%= element.price %></h3>
                            </div>
                        </a>
			        </article>
                <% }) %> 
            </section>
        <% } else { %>
             <h2>No tenemos  <%= products.category %></h2>         
        <% } %>

        <a href="/">Volver</a>

        <%- include('../partials/footer.ejs') %>
    </body>
</html>