<%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        <%- include('../partials/navBrands.ejs') %>
        <main class="mainEditProduct">
            <section class="cuerpoEditProduct">
                <h1>Editar Producto</h1>
                <form class="formularioEditProduct" action="/products/<%= product.sku %>?_method=PUT" method="POST" enctype="multipart/form-data"> 
                    <section>
                        <input type="hidden" name="sku" value="<%= product.sku%>">
                        <input type="text" id="name" name="name" placeholder="Nombre del producto" value="<%= product.name %> " required>
                        <input type="number" id="price" name="price" placeholder="Precio del producto" value="<%= product.price %>" required>
                    </section>
                    <section> 
                        <input type="text" id="detail" name="detail" placeholder="Descripción del producto" value="<%= product.detail %>" required></input>
                    </section>
                    <section> 
                        <label>Selecciona la marca:</label>
                        <select name="brand" required>
                            <% for( const brand of brands) { %>
                                <% if (brand.id == product.brand_id) { %>
                                    <option value="<%= brand.id %>" selected><%= brand.name %></option>
                                <% } else {%>                            
                                <option value="<%= brand.id %>"> <%= brand.name %> </option>
                            <% } }%>
                        </select>
                    </section>
                    <section>
                        <label>Selecciona la categoría:</label>
                        <select name="category" required>
                            <% for( const category of categories) { %>
                                <% if (category.id == product.category_id) { %>
                                    <option value="<%= category.id %>" selected><%= category.name %></option>
                                <% } else {%>                            
                                <option value="<%= category.id %>"> <%= category.name %> </option>
                            <% } }%>                        
                        </select>
                    </section>
                    <div class="editProductFotosUpload">
                        <p>Foto/s del Producto</p>
                        <label for="image">
                            <i class="fa-solid fa-cloud-arrow-up"></i>
                        </label>
                        <input type="file" id="image" name="image"/>
                    </div>
                    <section>
                        <button type="submit" value="editar">Editar Producto</button>
                        <button type="reset">Reiniciar Formulario</button>
                    </section>
                </form>
            </section>
        </main>
        <%- include('../partials/navBrands.ejs') %>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>