<%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        <main class="cuerpo-register-createProduct">
            <h1>Edición de producto</h1>
            <!-- Revisar el action -->
            <form class="formulario-register-createProduct" action="/products/:<%- product.sku %>?_method=PUT" method="POST" enctype="multipart/form-data"> 
                <section>
                    <input type="hidden" name="sku" value="<%= product.sku%>">
                    <input type="text" id="name" name="name" placeholder="Nombre del producto" value="<%- product.name %> " required>
                    <input type="number" id="price" name="price" placeholder="Precio del producto" value="<%- product.price %>" required>
                </section>
                <!-- Obtener descripción a través de EJS -->
                <section> 
                    <input type="text" id="detail" name="detail" placeholder="Descripción del producto" value="<%- product.detail %>" required></input>
                </section>

                <section> 
                    <h3>Selecciona la marca</h3> <!-- Cuando recupere la marca le agregará el selected -->
                    <select class="dropdown-createProduct" name="brand" required>
                        <% let brands = ['Brooks Brothers', 'Colantuono', 'Devré', 'Ermenegildo Zegna', 'Hermes', 'Luigi Di Carlo']; %> 
                        <% for( const brand of brands) { %>
                            <% if (brand == product.brand) { %>
                                <option value="<%= brand %>" selected><%= brand %></option>
                            <% } else {%>                            
                            <option value="<%= brand %>"> <%= brand %> </option>
                        <% } }%>
                    </select>

                    <h3>Selecciona la categoría</h3> <!-- Cuando recupere la categoría le agregará el selected -->
                    <select class="dropdown-createProduct" name="category" required>
                        <% let categories = ['Ambos', 'Pantalones', 'Camisas', 'Sacos', 'Zapatos', 'Corbatas']; %> 
                        <% for( const category of categories) { %>
                            <% if (category == product.category) { %>
                                <option value="<%= category %>" selected> <%= category %> </option>
                            <% } else {%>                            
                                <option value="<%= category %>"> <%= category %> </option>
                        <% } }%>
                    </select>
                </section>

                <div class="file-select-createProduct" id="picture" >
                    <input type="file" name="image" id="pictureUpload" aria-label="Fotos del producto">
                </div>

                <section>
                    <form action="products/<%= product.sku %>?_method=PUT" method="post">
                        <button type="submit" value="editar">Editar producto</button>
                    </form>
                    <button type="reset">Reiniciar formulario</button>
                </section>

            </form>
        </main>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>