<%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %>
    <main class="main-index">
      <%- include('../partials/navBrands.ejs') %>
      <section class="container-body">
        <article class="producto">
          <a href="/products/list/Ambos">
            <img src="/img/products/ambos/ambo_3.png" alt="ambo"/>
            <p>Ambos</p>
          </a>
        </article>
        <article class="producto">
          <a href="/products/list/Pantalones">
            <img src="/img/products/pantalones/pantalon_vestir_3.PNG" alt="pantalon_vestir"/>
            <p>Pantalones</p>
          </a>
        </article>
        <article class="producto">
          <a href="/products/list/Camisas">
            <img src="/img/products/camisas/camisa_7.png" alt="camisa"/>
            <p>Camisas</p>
          </a>
        </article>
        <article class="producto">
          <a href="/products/list/Sacos">
            <img src="/img/products/sacos/saco_2.jpg" alt="saco" />
            <p>Sacos</p>
          </a>
        </article>
        <article class="producto">
          <a href="/products/list/Zapatos">
            <img src="/img/products/zapatos/zapatos_3.PNG" alt="zapatos" />
            <p>Zapatos</p>
          </a>
        </article>
        <article class="producto">
          <a href="/products/list/Corbatas">
            <img src="/img/products/corbatas/corbata_4.jpg" alt="corbata" />
            <p>Corbatas</p>
          </a>
        </article>
      </section>
      <%- include('../partials/navBrands.ejs') %>
    </main> 
    <%- include('../partials/footer.ejs') %>
  </body>
</html>