<%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %>
    <main class="main-index">
      <%- include('../partials/navBrands.ejs') %>
      <section class="container-body">
        <article class="producto">
          <a href="/products/list/1">
            <img src="/img/products/1/ambo_3.png" alt="ambo"/>
            <p>Ambos</p>
          </a>
        </article>
        <article class="producto">
          <a href="/products/list/4">
            <img src="/img/products/4/pantalon_vestir_3.PNG" alt="pantalon_vestir"/>
            <p>Pantalones</p>
          </a>
        </article>
        <article class="producto">
          <a href="/products/list/2">
            <img src="/img/products/2/camisa_7.png" alt="camisa"/>
            <p>Camisas</p>
          </a>
        </article>
        <article class="producto">
          <a href="/products/list/5">
            <img src="/img/products/5/saco_2.jpg" alt="saco" />
            <p>Sacos</p>
          </a>
        </article>
        <article class="producto">
          <a href="/products/list/6">
            <img src="/img/products/6/zapatos_3.PNG" alt="zapatos" />
            <p>Zapatos</p>
          </a>
        </article>
        <article class="producto">
          <a href="/products/list/3">
            <img src="/img/products/3/corbata_4.jpg" alt="corbata" />
            <p>Corbatas</p>
          </a>
        </article>
      </section>
      <%- include('../partials/navBrands.ejs') %>
    </main> 
    <%- include('../partials/footer.ejs') %>
  </body>
</html>