<%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %>
    <main class="main-index">
      <%- include('../partials/navBrands.ejs') %>
      <section class="container-body">
        <article class="producto">
          <a href="/productDetail">
            <img src="/img/product_detail/ambo_3.png" alt="ambo"/>
            <p>Ambos</p>
          </a>
        </article>
        <article class="producto">
          <a href="/productDetail">
            <img src="/img/product_detail/pantalon_vestir_3.PNG" alt="pantalon_vestir"/>
            <p>Pantalones</p>
          </a>
        </article>
        <article class="producto">
          <a href="/productDetail">
            <img src="/img/product_detail/camisa_7.png" alt="camisa"/>
            <p>Camisas</p>
          </a>
        </article>
        <article class="producto">
          <a href="/productDetail">
            <img src="/img/product_detail/saco_2.jpg" alt="saco" />
            <p>Sacos</p>
          </a>
        </article>
        <article class="producto">
          <a href="/productDetail">
            <img src="/img/product_detail/zapatos_3.PNG" alt="zapatos" />
            <p>Zapatos</p>
          </a>
        </article>
        <article class="producto">
          <a href="/productDetail">
            <img src="/img/product_detail/corbata_4.jpg" alt="corbata" />
            <p>Corbatas</p>
          </a>
        </article>
      </section>
      <%- include('../partials/navBrands.ejs') %>
    </main> 
    <%- include('../partials/footer.ejs') %>
  </body>
</html>