<%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        <%- include('../partials/navBrands.ejs') %>
        <main class="mainListProducts">
            <% if (products.length > 0) { %>
            <section class="sectionProductos">
                <% products.forEach(element => { %> 
                <a class="linkProducto" href="/products/<%= element.sku %>">
                    <img src="/img/products/<%= element.category_id %>/<%= element.image %>" alt="<%= element.image %>">
                    <div>
                        <p><%= element.name %></p>
                        <p>$ <%= element.price %></p>
                    </div>
                </a>
                <% }) %> 
            </section>
        <% } %>
        </main>
        <%- include('../partials/navBrands.ejs') %>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>