<%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>

        <% if (products.length > 0) { %>
        <section>
            <% products.forEach(element => { %> 
            <article>
                <a href="/products/<%= element.sku %>">
                    <picture>
                        <img src="/img/products/<%= element.image %>" alt="<%= element.image %>">
                    </picture>
                    <div>
                        <h3><%= element.name %></h3>
                        <h3>$ <%= element.price %></h3>
                    </div>
                </a>
            </article>
            <% }) %> 
        </section>
        <% } %>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>