<%- include('../partials/head.ejs') %>

    <body>

        <%- include('../partials/header.ejs') %>

        <main class="cuerpo-productDetail">

            <section class="sec-principal">
                <picture class="galeriaProducto"> <!--  Hacer con ejs tantas imágenes como hayan además de la primera-->
                    <img src="/img/products/<%= id.image %>" alt="Imagen del producto 1">
                    <img src="/img/products/<%= id.image %>" alt="Imagen del producto 2">
                    <img src="/img/products/<%= id.image %>" alt="Imagen del producto 3">
                    <img src="/img/products/<%= id.image %>" alt="Imagen del producto 4">
                </picture>

                <img class="imagenPrincipal" src="/img/products/<%= id.image %>" alt="Imagen principal del producto">

                <article class="opcionesProducto"> <!-- Sector derecho del producto, opciones de la compra -->
                    <div class="div-categoria-favoritos">
                        <a href="list/<%= id.category %>"><%= id.category %></a>
                        <i class="fa-regular fa-heart"></i>
                    </div>
                    <div class="div-puntuacion">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>                        
                    </div>

                    <h2 class="nombreProducto"><%= id.name %> </h2>    

                    <div class="div-precio-descuento">
                        <h2>$ <%= id.price %></h2>
                        <p>43% OFF</p>
                    </div>

                    <div class="div-envio">
                        <p><i class="fa-solid fa-truck-fast"></i> Envios a todo el pais</p>
                        <a href="#"><i class="fa-solid fa-location-pin"></i> Calcula el costo</a>
                    </div>
                    
                    <p>Stock disponible</p>
                    
                    <form class="form-carrito" action="../users/cart" method="post">
                        <div> 
                            <label for="cantidad">Cantidad</label>
                            <select name="cantidad" id="cantidad">
                                <% let valores = ['1','2','3','4','5']; %> 
                                <% for( let i of valores ) { %>
                                    <option value="<%= i %>"> <%= i %> </option>
                                    <% } %>
                            </select>
                        </div>
                    <!--                      
                        <div>  
                            <label for="size">Elegí el talle</label>
                            <select name="size">
                                <option value="s">S</option>
                                <option value="m">M</option>
                                <option value="l">L</option>
                                <option value="xl">XL</option>
                            </select>
                        </div>

                        <div>
                            <label for="color">Elegí el color</label>
                            <select name="color">
                                <option value="negro">Negro</option>
                                <option value="gris">Gris</option>
                                <option value="azul">Azul</option>
                                <option value="blanco">Blanco</option>
                            </select>
                        </div>
                    -->
                        <button type="submit">
                            Agregar al carrito   <i class="fa-solid fa-cart-shopping"></i>
                        </button>
                    </form>

                    <div class="botonera">
                        <form action="<%= id.sku %>/edit" method="get">
                            <button type="submit">Editar</button>
                        </form>

                        <form action="<%= id.sku %>?_method=DELETE" method="post"> <!-- hacer confirmación -->
                            <input type="hidden" name="sku" value="<%= id.sku %>">
                            <button type="submit">Borrar</button>
                        </form>
                    </div>
                </article>
            </section>

            <section class="sec-detallesProducto">
                <h2>Detalles del producto</h2>
                <p><%= id.detail %> </p>
            </section>

            <section class="sec-productosRelacionados">
                <h2>Productos relacionados</h2>
                <picture>
                    <img src="\img\products\camisa_blanca1.jpg" alt="Imagen del producto 1">
                    <img src="\img\products\camisa_blanca2.jpg" alt="Imagen del producto 2">
                    <img src="\img\products\camisa_blanca3.jpg" alt="Imagen del producto 3">
                    <img src="\img\products\camisa_blanca4.jpg" alt="Imagen del producto 4">
                </picture>
            </section>
            
        </main>
        
        <%- include('../partials/footer.ejs') %>
    </body>
</html>