<%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        <%- include('../partials/navBrands.ejs') %>
        <main class="mainProfile">
	        <section class="cuerpoProfile">
                <form class="contenedorAvatar" action="/updateAvatar/<%= user.id %>?_method=PATCH" method="POST" enctype="multipart/form-data">
                    <img class="avatar" src="/img/users/<%= user.avatar %> " alt="Imagen de Usuario">
                    <div class="fileSelectProfile" id="image" >
                        <input type="file" name="image" id="image">
                    </div>
                </form>
                <section class="sectionDatos">
                    <form action="/updateNames/<%= user.id %>?_method=PATCH" method="POST">
                        <fieldset>
                            <legend>Informacion Personal</legend>
                            <div>
                                <label for="first_name">Nombre</label>
                                <input type="text" name="first_name" value="<%= user.first_name %>">
                            </div>
                            <div>
                                <label for="last_name">Apellido</label>
                                <input type="text" name="last_name"value="<%= user.last_name %>">
                            </div>
                            <button class="formButton" type="submit">Editar</button>
                        </fieldset>
                    </form>
                    <form action="/updatePass/<%= user.id %>?_method=PATCH" method="POST">
                        <fieldset>
                            <legend>Informacion de Usuario</legend>
                            <div>
                                <label for="email">Correo Electronico</label>
                                <input type="email" name="email" value="<%= user.email %>" readonly>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Modificar Contrase単a</legend>
                            <div>
                                <label for="actualPass">Ingrese su contrase単a actual</label>
                                <input type="password" name="actualPass">
                            </div>
                            <div>
                                <label for="newPass">Ingrese su nueva contrase単a</label>
                                <input type="password" name="newPass">
                            </div>
                            <div>
                                <label for="checkNewPass">Repita su nueva contrase単a</label>
                                <input type="password" name="checkNewPass">
                            </div>
                            <button class="formButton" type="submit">Cambiar</button>
                        </fieldset>
                    </form>
                    <form action="/users/logout" method="GET">
                        <button class="sessionButton"type="submit">Cerrar sesion</button>
                    </form>
                </section>
            </section>
        </main>
        <%- include('../partials/navBrands.ejs') %>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>