<%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        <main class="cuerpo-profile">
            <picture class="contenedor-avatar">
                <img class="avatar" src="/img/users/<%= user.image %> " alt="Imagen de Usuario">
            </picture>
            <section class="sec-profile">
                <form action="" method="">
                    <fieldset>
                        <legend>Informacion Personal</legend>
                        <div>
                            <label for="firstName">Nombre</label>
                            <input type="text" value="<%= user.firstName %>">
                        </div>
                        <div>
                            <label for="lastName">Apellido</label>
                            <input type="text" value="<%= user.lastName %>">
                        </div>
                        <div>
                            <button type="submit">Editar</button>
                        </div>
                    </fieldset>
                </form>
                <form action="" method="">
                    <fieldset>
                        <legend>Informacion de Usuario</legend>
                        <label for="email">Correo Electronico</label>
                        <input type="email" value="<%= user.email %>">
                        <div>
                            <button type="submit">Editar</button>
                        </div>
                    </fieldset>
                </form>
            </section>
        </main>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>