<%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        <main class="cuerpo-profile">
            <picture class="contenedor-avatar">
                <img class="avatar" src="/img/users/<%= user.image %> " alt="Imagen de Usuario">
            </picture>
            <section class="sec-profile">
                <form>
                    <fieldset>
                        <legend>Informacion Personal</legend>
                        <div>
                            <label for="first_name">Nombre</label>
                            <input type="text" value="<%= user.first_name %>" readonly>
                        </div>
                        <div>
                            <label for="last_name">Apellido</label>
                            <input type="text" value="<%= user.last_name %>" readonly>
                        </div>
                    </fieldset>
                </form>
                <form>
                    <fieldset>
                        <legend>Informacion de Usuario</legend>
                        <label for="email">Correo Electronico</label>
                        <input type="email" value="<%= user.email %>" readonly>
                    </fieldset>
                </form>
                <form action="/users/logout" method="get">
                    <button type="submit">Cerrrar sesion</button>
                </form>
            </section>
        </main>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>