<%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        <%- include('../partials/navBrands.ejs') %>
        <main class="mainProfile">
	        <section class="cuerpoProfile">
                <form class="contenedorAvatar" action="/users/updateAvatar/<%= user.id %>?_method=PATCH" method="POST" enctype="multipart/form-data">
                    <img class="avatarImg" id="avatarImgID" src="/img/users/<%= user.avatar %>" alt="Imagen de Usuario">
                    <input type="hidden" id="email" name="email" value="<%= user.email %>">
                    <div class="profileAvatarUpload">
                        <label for="avatar">
                            <i class="fa-solid fa-pen"></i>
                        </label>
                        <input type="file" id="avatar" name="avatar"/>
                    </div>
                    <div>
                        <button class="avatarButton" type="submit">Editar </button>
                    </div>
                </form>
                <section class="sectionDatos">
                    <form action="/users/updateNames/<%= user.id %>?_method=PATCH" method="POST">
                        <fieldset>
                            <legend>Información Personal</legend>
                            <div>
                                <label for="first_name">Nombre</label>
                                <input type="text" name="first_name" value="<%= user.first_name %>">
                            </div>
                            <div>
                                <label for="last_name">Apellido</label>
                                <input type="text" name="last_name"value="<%= user.last_name %>">
                            </div>
                            <button class="nameButton" type="submit">Editar datos</button>
                        </fieldset>
                    </form>
                    <form action="/users/updatePass/<%= user.id %>?_method=PATCH" method="POST">
                        <fieldset>
                            <legend>Información de Usuario</legend>
                            <div>
                                <label for="email">Correo Electrónico</label>
                                <input type="email" name="email" value="<%= user.email %>" readonly>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Modificar Contraseña</legend>
                            <div>
                                <label for="actualPass">Ingrese su contraseña actual</label>
                                <input type="password" name="actualPass">
                            </div>
                            <div>
                                <label for="newPass">Ingrese su nueva contraseña</label>
                                <input type="password" name="newPass">
                            </div>
                            <div>
                                <label for="checkNewPass">Repita su nueva contraseña</label>
                                <input type="password" name="checkNewPass">
                            </div>
                            <button class="passButton" type="submit">Cambiar contraseña</button>
                        </fieldset>
                    </form>
                    <form action="/users/logout" method="GET">
                        <button class="sessionButton"type="submit">Cerrar sesión</button>
                    </form>
                </section>
            </section>
        </main>
        <%- include('../partials/navBrands.ejs') %>
        <%- include('../partials/footer.ejs') %>
    </body>
    <script src=”/scripts/changeAvatar.js” type=”text/javascript”></script>
</html>