<%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        <%- include('../partials/navBrands.ejs') %>
        <main class="mainRegister">
            <section class="cuerpoRegister">
                <h1>Crea tu cuenta</h1>
                <form class="formularioRegister" action="/users/register" method="post" enctype="multipart/form-data">
                    <section>
                        <input type="text" id="first_name" name="first_name" placeholder="Nombre/s" value="<%= locals.old ? old.first_name : '' %>">
                    </section>
                    <% if (locals.errors && errors.first_name) { %>
                        <div class="divError">
                            <%= errors.first_name.msg %>
                        </div>
                    <% } %>
                    <section>
                        <input type="text" id="last_name" name="last_name" placeholder="Apellido/s" value="<%= locals.old ? old.last_name : '' %>">
                    </section>
                    <% if (locals.errors && errors.last_name) { %>
                        <div class="divError">
                            <%= errors.last_name.msg %>
                        </div>
                    <% } %>
                    <section>
                        <input type="email" id="email" name="email" placeholder="Correo Electrónico" value="<%= locals.old ? old.email : '' %>">
                    </section>
                    <% if (locals.errors && errors.email) { %>
                        <div class="divError">
                            <%= errors.email.msg %>
                        </div>
                    <% } %>
                    <section>
                        <input type="password" id="password" name="password" placeholder="Contraseña">
                    </section>
                    <% if (locals.errors && errors.password) { %>
                        <div class="divError">
                            <%= errors.password.msg %>
                        </div>
                    <% } %>
                    <div class="registerAvatarUpload">
                        <h4>Foto de perfil</h4>
                        <label for="avatar">
                            <i class="fa-solid fa-upload"></i>
                        </label>
                        <input type="file" id="avatar" name="avatar"/>
                    </div>
                    <% if (locals.errors && errors.avatar) { %>
                        <div class="divError">
                            <%= errors.avatar.msg %>
                        </div>
                    <% } %>  
                    <section>
                        <button type="submit">Crear usuario</button>
                    </section>
                </form>
            </section>
        </main>
        <%- include('../partials/navBrands.ejs') %>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>