<%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %>
    <main>
      <%- include('../partials/navBrands.ejs') %>
      <div class="banner">
        <img  class ='img-banner'src="img\logos\123123.jpeg">
        <div class="banner-text">
          <h1>Be Elegant Men</h1>
          <p class="banner-description">Ropa formal para hombres</p>
        </div>
        <img/>
      </div>
      <section class="containerIndex">
        <article class="categoria">
          <a href="/products/list/1">
            <img src="/img/products/1/ambo10.jpg" alt="ambo"/>
            <p class="descripcion">Ambos</p>
          </a>
        </article>
        <article class="categoria">
          <a href="/products/list/4">
            <img src="/img/products/4/pantalon2.jpg" alt="pantalon_vestir"/>
            <p>Pantalones</p>
          </a>
        </article>
        <article class="categoria">
          <a href="/products/list/2">
            <img src="/img/products/2/camisa3.jpg" alt="camisa"/>
            <p>Camisas</p>
          </a>
        </article>
        <article class="categoria">
          <a href="/products/list/5">
            <img src="/img/products/5/saco1.jpg" alt="saco" />
            <p>Sacos</p>
          </a>
        </article>
        <article class="categoria">
          <a href="/products/list/6">
            <img src="/img/products/6/zapato1.jpg" alt="zapatos" />
            <p>Zapatos</p>
          </a>
        </article>
        <article class="categoria">
          <a href="/products/list/3">
            <img src="/img/products/3/corbata13.jpg" alt="corbata" />
            <p>Accesorios</p>
          </a>
        </article>
      </section>
      <%- include('../partials/navBrands.ejs') %>
    </main> 
    <%- include('../partials/footer.ejs') %>
  </body>
</html>